---
---

/*
 *    Minimal Mistakes Jekyll Theme
 *
 *  - Michael Rose
 *  - mademistakes.com
 *  - https://twitter.com/mmistakes
 *
*/

@import "vendor/breakpoint/breakpoint"; // media query mixins
@import "variables";
@import "mixins";
@import "vendor/susy/susy";

@import "reset";
@import "base";

@import "utilities";
@import "animations";
@import "tables";
@import "buttons";
@import "notices";
@import "masthead";
@import "navigation";
@import "footer";
@import "syntax";

@import "forms";

@import "page";
@import "archive";
@import "sidebar";

@import "vendor/font-awesome/fontawesome";
@import "vendor/font-awesome/solid";
@import "vendor/font-awesome/brands";
@import "vendor/magnific-popup/magnific-popup";
@import "print";

/* ==========================================================================
   Custom overrides: Visual redesign
   ========================================================================== */

html {
  scroll-behavior: smooth;
}

/* Page title accent */
.page__title {
  border-bottom: 3px solid $accent-gold;
  display: inline-block;
  padding-bottom: 0.15em;
}

/* Publication card styles */
.publication-item {
  padding: 1.5em 0;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  .pub-title {
    font-family: $display-serif;
    font-size: $type-size-4;
    font-weight: 600;
    color: $primary-color;
    margin-bottom: 0.3em;
    line-height: 1.3;
  }

  .pub-year {
    font-family: $sans-serif;
    font-size: $type-size-6;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: $muted-text-color;
    margin-bottom: 0.4em;
  }

  .pub-authors {
    font-style: italic;
    color: $text-color;
    margin-bottom: 0.3em;
    font-size: $type-size-5;

    a {
      border-bottom: 1px solid rgba($link-color, 0.3);
      text-decoration: none;

      &:hover {
        color: $link-color-hover;
        border-bottom-color: $link-color-hover;
      }
    }
  }

  .pub-venue {
    color: $muted-text-color;
    font-size: $type-size-5;
    margin-bottom: 0.5em;
  }

  .pub-links {
    margin-top: 0.5em;

    a {
      display: inline-block;
      padding: 0.25em 0.75em;
      margin-right: 0.5em;
      margin-bottom: 0.3em;
      font-family: $sans-serif;
      font-size: $type-size-6;
      font-weight: 600;
      color: $primary-color;
      border: 1px solid $border-color;
      border-radius: 3px;
      text-decoration: none;
      -webkit-transition: $global-transition;
      transition: $global-transition;

      &:hover {
        background-color: $primary-color;
        color: #fff;
        border-color: $primary-color;
      }
    }
  }
}

/* CV page styles */
.cv-download {
  margin-bottom: 2em;

  .cv-download-btn {
    display: inline-block;
    padding: 0.5em 1.25em;
    font-family: $sans-serif;
    font-size: $type-size-5;
    font-weight: 600;
    color: #fff;
    background-color: $primary-color;
    border: 2px solid $primary-color;
    border-radius: 4px;
    text-decoration: none;
    -webkit-transition: $global-transition;
    transition: $global-transition;

    &:hover {
      background-color: transparent;
      color: $primary-color;
    }
  }
}

.cv-section {
  margin-bottom: 2em;
  padding-bottom: 1.5em;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  h2 {
    font-family: $display-serif;
    color: $primary-color;
    font-size: $type-size-3;
    margin-top: 0;
    margin-bottom: 0.75em;
    padding-bottom: 0.3em;
    border-bottom: 2px solid $accent-gold;
  }

  h3 {
    font-family: $display-serif;
    color: $primary-color;
    font-size: $type-size-4;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

.cv-entry {
  display: flex;
  margin-bottom: 0.6em;
  line-height: 1.5;

  .cv-date {
    flex: 0 0 120px;
    font-family: $sans-serif;
    font-size: $type-size-6;
    font-weight: 600;
    color: $muted-text-color;
    padding-top: 0.15em;
  }

  .cv-detail {
    flex: 1;
  }
}

.cv-publications {
  padding-left: 1.5em;

  li {
    margin-bottom: 0.8em;
    line-height: 1.6;
  }
}

@include breakpoint(max-width $small) {
  .cv-entry {
    flex-direction: column;

    .cv-date {
      flex: none;
      margin-bottom: 0.15em;
    }
  }
}

/* Research area styles */
.research-area {
  padding: 1.25em 0;
  border-bottom: 1px solid $border-color;

  &:last-child {
    border-bottom: none;
  }

  h3 {
    font-family: $display-serif;
    color: $primary-color;
    margin-top: 0;
    margin-bottom: 0.5em;
  }

  ul {
    margin-top: 0.5em;

    li {
      margin-bottom: 0.6em;
      line-height: 1.6;
    }
  }
}